<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459417578776-9nkqr6tf3q09mcp798s9fakj1j9g9ntr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459417578776-9nkqr6tf3q09mcp798s9fakj1j9g9ntr</string>
	<key>API_KEY</key>
	<string>AIzaSyAAiynwhmunfI6NnmHnC6Thzd3FhpXHHIA</string>
	<key>GCM_SENDER_ID</key>
	<string>459417578776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newblog</string>
	<key>PROJECT_ID</key>
	<string>newblog-2831f</string>
	<key>STORAGE_BUCKET</key>
	<string>newblog-2831f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459417578776:ios:5626a4097b1fa8a050026d</string>
</dict>
</plist>